
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.factorypath
.settings/
*.swp
*.swo
*~

.springBeans
bin/
nbproject/
nbbuild/
nbdist/
nb-cache/


.DS_Store
Thumbs.db


.env
*.log


docker/**/data/
